*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

display:flex;

min-height:100vh;

background:
linear-gradient(
135deg,
#050d1b,
#0b1f3a,
#123d75
);
}

/* SIDEBAR */

.sidebar{

width:260px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border-right:
1px solid rgba(0,247,255,.4);

padding:30px 20px;
}

.logo{

text-align:center;

margin-bottom:40px;
}

.logo h2{

color:#00f7ff;

text-shadow:
0 0 10px #00f7ff;
}

.sidebar ul{

list-style:none;
}

.sidebar ul li{

margin:15px 0;
}

.sidebar ul li a{

display:flex;

align-items:center;

gap:12px;

padding:15px;

border-radius:12px;

text-decoration:none;

color:white;

transition:.3s;
}

.sidebar ul li a:hover{

background:
rgba(0,247,255,.15);

color:#00f7ff;

transform:
translateX(5px);
}

/* MAIN */

.main-content{

flex:1;

padding:40px;
}

.header{

text-align:center;

margin-bottom:50px;
}

.header h1{

font-size:42px;

color:#00f7ff;

text-shadow:
0 0 15px #00f7ff;
}

.header p{

margin-top:10px;

color:#dbeafe;
}

/* CARDS */

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:30px;
}

.card{

background:
rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border-radius:25px;

padding:35px;

text-align:center;

border:
1px solid rgba(0,247,255,.4);

transition:.4s;

box-shadow:
0 0 20px rgba(0,247,255,.15);
}

.card:hover{

transform:
translateY(-10px);

box-shadow:
0 0 40px rgba(0,247,255,.5);
}

.card i{

font-size:55px;

color:#00f7ff;

margin-bottom:20px;
}

.card h2{

margin-bottom:15px;

color:white;
}

.card p{

color:#dbeafe;

margin-bottom:25px;

line-height:1.6;
}

.card a{

display:inline-block;

padding:12px 30px;

background:#00f7ff;

color:black;

font-weight:bold;

text-decoration:none;

border-radius:50px;

transition:.3s;
}

.card a:hover{

box-shadow:
0 0 25px #00f7ff;
}

@media(max-width:900px){



.main-content{

padding:20px;
}

}