*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f4f7fc;
    padding:40px;
}

.container{
    width:90%;
    margin:auto;
}

.search-box{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:30px;
}

.search-box input{
    width:350px;
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

.search-box button{
    padding:12px 25px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.search-box button:hover{
    background:#0056b3;
}

.student-info{
    text-align:center;
    margin-bottom:20px;
}

.charts{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}